/* Base */
body {
	margin: 0;
}
a {
	color: #000;
	text-decoration: none;
}
ul, nav {
	margin: 0;
    padding: 0;

    list-style: none;
}

/* Layout */
.l-constrained {
	max-width: 1350px;
	margin: 0 auto;
	font-family: "Cormorant Garamond", serif; 
}

.l-constrained h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.l-constrained h2::before, .l-constrained h2::after {
	content: "";
  	flex: 1;
  	height: 1px;
  	background-color: #ccccccb9;
  	margin: 0 10px;
}          
.l-header {
	max-width: 100%;
	font-size: 22px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	box-shadow: #cccccc 0px 1px 30px -2px;
}

/* Modules */
.header-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}
.site-nav {
	font-family: "Martel Sans", sans-serif;
	font-size: 14px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	margin: 30px;

	@media (max-width: 768px) {
	display: flex;
	flex-direction: column;
	}
}
.site-nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;

	@media (max-width: 768px) {
	display: none; 
    flex-direction: column;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
	margin-bottom: 10px;
  	}
}
.site-nav li {
	margin-right: 20px;
	margin-left: 20px;

	@media (max-width: 768px) {
    margin-top: 10px;
	margin-bottom: 10px;
	}	
}
.site-nav a {
	text-decoration: none;
	color: inherit;
}
.js-search-input {
	font-size: 14px;
	color: rgb(134, 134, 134);
	border: none;
	outline: none;
	max-width: 70px;
}
.search-btn {
	font-size: 14px;
	color: rgb(134, 134, 134);
	border: none;
	background: none;
	cursor: pointer;
}
.menu-toggle {
	display: none;
	background: none;
	border: none;
	font-size: 28px;
	cursor: pointer;
	color: black;

	@media (max-width: 768px) {
	display: block;
	margin-bottom: 10px;
  	}
}
@media (max-width: 768px) {
  .site-nav ul.open {
    display: flex; /
  }
}

/* Products */
.product-gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	margin-bottom: 30px;

	@media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  	}

	@media (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}
.product-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.product-item__img {}
.product-item__title {
	font-family: "Martel Sans", sans-serif;
	color: rgb(134, 134, 134);
	font-size: 12px;
}
.product-item__body {
}
.product-item__price{
	font-family: "Martel Sans", sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.product-item__buttons{
	margin-top: 20px;
}

/* Buttons */
.btn {
	font-family: "Martel Sans", sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: rgb(134, 134, 134);
	padding: 5px 20px;
	border: 1px solid;
	margin-right: 5px;
}
.btn--primary {
	background-color: white;
	cursor: pointer;
	font-family: "Martel Sans", sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: rgba(173, 12, 106, 0.61);
	padding: 5px 20px;
	border: 1px solid;
}
.startpage-hero .btn--primary {
	font-size: 14px;
	font-weight: bold;
	padding: 10px 60px;
}
/* Startpage */
.startpage-hero {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	width: 100%;

	@media (max-width: 1330px) {
	display: flex;
	flex-direction: column;
  	}
}
.startpage-hero img {
	display: block;
	max-width: 100%;
	width: 24em;
	height: 24em;

	@media (max-width: 1100px) {
	margin: 0 auto;
  	}
}
.hero-text {
	font-family: "Martel Sans", sans-serif;
	font-size: 22px;
	justify-content: center;
	text-align: center;
	margin-bottom: 30px;

		@media (max-width: 1100px) {
	margin: 30px auto;
  	}
}
.hero-text h1{
	font-family: "Cormorant Garamond", serif; 
	text-transform: uppercase;
}
.hero-text p{
	color: rgb(134, 134, 134);
}
.hero-dot {
	color: rgba(173, 12, 106, 0.61);
}
.startpage-banner {
	  background: linear-gradient(
    135deg,
    #111111 0%,
    #333333 25%,
    #0d0d0d 50%,
    #3b3b3b 75%,
    #0d0d0d 100%
  	);
	color: white;
	display:flex;
	text-align: center;
}
.startpage-banner h1 {
	font-family: "Cormorant Garamond", serif;
}
.startpage-banner p {
	font-family: "Martel Sans", sans-serif;
}

/* Modal */
.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	justify-content: center;
	align-items: center;
}
.modal-content {
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	width: 400px;
	text-align: center;
	position: relative;
}
.modal-content h2 {
  	font-family: "Martel Sans", sans-serif;
	color: rgb(134, 134, 134);
	font-size: 12px;
}
.modal-content p {
	font-family: "Martel Sans", sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.modal-img {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}
.close {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 24px;
	font-weight: bold;
	color: #555;
	cursor: pointer;
}
.close:hover {
	color: #000;
}

/* Helpers */
.is-hidden {
	display: none;
}
.is-visible {
	display: block;
}